$bezier: cubic-bezier(0.215, 0.61, 0.355, 1);
$green: hsl(92,57%,58%);
$black: hsl(38,54%,7%);
$white: white;
$gray-med: gray;
        
html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
}

#main {
  overflow:auto;
  padding-bottom:150px; /* this needs to be bigger than footer height*/
}

.footer {
  position: relative;
  margin-top: -150px; /* negative value of footer height */
  height: 150px;
  clear:both;
  padding-top:20px;
}

input[type="text"] {
    border: none;
    border-radius: 0;
    border-bottom: solid 1px #c9c9c9;
}
.selected {
    border: solid 1px #4748f9;
}
body {
    font-size: 2em;
    font-family: Lato,Raleway,sans-serif;
}

header {
    margin: 0 auto 0 auto;
    position: absolute;
}